# Ignorar archivos de versionamiento
.git
.gitignore

# Ignorar archivos de pruebas
tests/
test/
*.test.*

# Ignorar archivos temporales
*.tmp
*.log

# Ignorar archivos de desarrollo
Dockerfile.dev
docker-compose.yml

# Ignorar archivos y directorios generados
node_modules/
dist/
